APP_ENV=
API_APP_NAME=
API_HOST=
API_PORT=
API_SECRET_KEY=
API_ACCESS_TOKEN_EXPIRE_MINUTES=
API_REFRESH_TOKEN_EXPIRE_MINUTES=
API_DATABASE_URL=
API_STORAGE_PATH=
API_RETAIN_ENROLLMENT_IMAGES=
API_RETAIN_REVIEW_IMAGES=
API_BOOTSTRAP_ADMIN_EMAIL=
API_BOOTSTRAP_ADMIN_PASSWORD=
API_BOOTSTRAP_ADMIN_NAME=
API_CORS_ORIGINS=
API_SIMILARITY_THRESHOLD=
API_COMMIT_THRESHOLD=
API_AMBIGUITY_MARGIN=
API_LIVENESS_THRESHOLD=
API_CONSENSUS_FRAMES=
API_CONSENSUS_WINDOW_SECONDS=
API_MIN_FACE_SIZE=
API_MAX_YAW_SCORE=
API_MAX_OCCLUSION_SCORE=
API_MIN_BRIGHTNESS=
API_MAX_BRIGHTNESS=
API_MAX_BLUR_SCORE=
WEB_PORT=
NEXT_PUBLIC_API_BASE_URL=

